.drag-area {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  border: 1px dashed #333;
  background-color: #eee;
  cursor: pointer;
}

.drag-area:hover {
  border: 1px dashed #40a9ff;
}

.label-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
